#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    background-color: #391F00;
    height: 276px;
}
.section-top{
    display: flex;
    justify-content: space-around;
    gap: 12px;
    margin-top: 8px;
}
.footer-info{
    width: 156px;
}
.footer-info h1 ,h2,  h3{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%; /* 35.314px */
}
.footer-info p{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 14px;
}
.footer-btn{
    width: 143px;
    height: 36px;
    color:  #E16A00;
    font-family: 'Poppins', sans-serif;
font-size: 14px;
font-weight: 500;
padding-top: 4px;
border: 1px solid var(--2, #E16A00);
background-color: transparent;
}
.footer-logo{
    margin-top: 48px;
}
.bottom-paragraf{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 196.187%; 
text-align: center;
}